{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    {% if form.errors %}
        ERROR (check your credentials)
    {% else %}
        <h1>User login:</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> <!--параметр, который при редиректе на логин будет указывать на следующую страницу куда направлялись-->
            <input type="submit" value="Login">
        </form>
        <a href="{% url "lesson:password_reset" %}"> Forgot password? </a><br>
    {% endif %}
{% endblock %}